body {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 1000px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 20px;
    margin: 20 auto;
}

.card-table,
#content {
    width: 80%;
    padding: 10px;
    font-size: 17px;
    height: 150px;
}

.card-table
{
    width: 80%;
    padding: 10px;
    font-size: 17px;
}

.player-list {
    width: 100%
}

.player {
    width: 100px;
    height: 100px;
    border: 1px solid #B4B4B4;
    background: rgba(63, 63, 63, 0.27);
    position: relative;
    display: inline-block;
    margin: 2px 2px 20px 2px;
}

.player .head {
    width: 42px;
    border: 1px solid player-border-color;
    height: 42px;
    position: absolute;
    border-radius: 25px;
    background: #fff;
    z-index: 2;
    margin: 10px 0 0 27px;
}

.player .body {
    width: 44px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 33px;
    background: #fff;
    border: 1px solid player-border-color;
    position: absolute;
    margin: 39px 0 0 26px;
}

.player .name {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: "Helvetica Nueue", Tahoma;
    padding: 4px 0;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}

.player .player-online-status {
    font-size: 12px;
    position: absolute;
    width: 100%;
    font-family: font-default;
    text-align: center;
    bottom: -18px;
    color: gray;
}

#content .msg {
    width: 100%;
}

.card {
    display: inline-block;
    width: 80px;
    margin: 3 3px;
    padding: 10px;
    font-family: "Times New Roman";
    height: 120px;
    border: 1px solid rgba(194, 194, 194, 0.3);
}

.card-family {
    font-size: 12px;
    width: 80px;
    text-align: right;
}

.card-value {
    width: 80px;
    text-align: center;
    margin: 25px auto;
    font-size: 40px;
}

.card-best {
    font-size: 10px;
    width: 80px;
    color: rgb(53, 163, 70);
    text-align: center;
}
