<html>
<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/css/game.css"/>
    <link rel="stylesheet" href="../public/css/pieces.css"/>
    <script src="/socket.io/socket.io.js"> </script>

    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/rotate.js"></script>
    <script src="../public/js/underscore.js"></script>
    <script src="../public/js/backbone.js"></script>

    <script src="../public/js/users/user-model.js"></script>
    <script src="../public/js/users/user-model-view.js"></script>
    <script src="../public/js/users/users-collection.js"></script>
    <script src="../public/js/users/users-collection-view.js"></script>

    <script src="../public/js/tools/tools-model.js"></script>
    <script src="../public/js/tools/tools-model-view.js"></script>

    <script src="../public/js/pirates/pirates-model.js"></script>
    <script src="../public/js/pirates/pirates-model-view.js"></script>
    <script src="../public/js/pirates/pirates-collection.js"></script>
    <script src="../public/js/pirates/pirates-collection-view.js"></script>


    <script src="../public/js/pieces/pieces-constructor.js"></script>
    <script src="../public/js/pieces/pieces-model.js"></script>
    <script src="../public/js/pieces/pieces-model-view.js"></script>
    <script src="../public/js/pieces/pieces-collection.js"></script>
    <script src="../public/js/pieces/pieces-collection-view.js"></script>


    <script src="../public/js/game/game.js"></script>
</head>
<body>

<div class="users">
    <div class="users-container"></div>
    <div class="ship"></div>
    <div class="black-line">
        <div class="start-game">Начать игру</div>
    </div>

</div>
<div class="wrap">
    <div class="message">
        <div class="text">Hello</div>
    </div>

    <div class="map">
        <div class="darkness"></div>
    </div>

    <div class="results">
        <div class="results-container">
            <table class="results-table"></table>
            <a class="exit" href="/rooms">Выход</a>
        </div>

    </div>


    <ul class="tools">
        <li class="button"><span class="coin-button">Нет действий</span></li>
        <li class="button"><span class="gold-button">Нет действий</span></li>
        <li class="button"><span class="rum-button">Нет действий</span></li>
    </ul>
</div>

<script type="text/javascript">
   /* var a;
    $('document').ready(function () {
        var socket = io.connect('http://modules.dev.market-helper.ru');
        socket.emit('giveData');
        socket.on('data', function (data) {
            console.log(data)
            a = data;
            for (var y in data)
            {
                for (var x in data[y])
                {
                    if (data[y][x].id !== 0) {
                        $('.map').append('<div class="small piece piece-45"></div>')
                    }
                    else {
                        $('.map').append('<div class="small piece piece-'+data[y][x].id+'"></div>')
                    }

                }
            }

        });

    });
   */




</script>
</body>
</html>