
<div class="home-video">
    <h1>Об игре</h1>
    <iframe width="853" height="480" src="//www.youtube.com/embed/vUMsxFrg8vs?rel=0" frameborder="0" allowfullscreen></iframe>
    <div class="home-text">
        Легендарная пиратская игра, одна из самых известных стратегий в нашей стране. Создана в МГУ в 70-х,
        наполнена духом пиратской романтики, отлично подходит для семейной игры и дружеских партий, прекрасно развивает логику и системное мышление.
        Если вы любите искать клады, сражаться с пиратами, знакомиться с крокодилами, заглядывать в пушку и таскать золото на корабль, то, тысяча чертей, эта настольная игра для вас.
    </div>
</div>
