<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../public/css/main.css"/>
    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/underscore.js"></script>
    <script src="../public/js/backbone.js"></script>
    <script src="../public/js/rooms/rooms.js"></script>
</head>
<body>
<div class="wrap">
    <div class="wrapper">
        <div class="header">
            <div class="nav">
                <div class="nav-list">
                    <a class="navigation" href="/home">Главная</a>
                    <a class="navigation rooms-button" href="/rooms">Комнаты</a>
                    <div class="user-block">
                        <span class="user-name"><%= userName ? userName : '' %></span>
                        <span>(</span><a id="logout" href="/logout">выход</a><span>)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <%- typeof content !='undefined' ?  content : ''%>
        </div>


    </div>
</div>
</body>
</html>