<div class="block">
    <% if (rooms.length > 0) {for (var i = 0; i < rooms.length; i++) {%>
        <a class="room" href="<%= rooms[i].href %>"><%= rooms[i].id %></a>
    <% }} %>

    <a class="room create" href="/create">создать</a>


</div>

