<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/css/test.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/underscore.js"></script>
    <script src="../public/js/backbone.js"></script>
    <script src="../public/js/main_test.js"></script>
</head>
<body>
<div id="wrap">
    <div id="header">
        Семантический анализ
        <div id="person-count" style="float:right" ></div>
    </div>
    <div id="content">
        <div class="small column">
            <img id="photo" src="../public/img/photos/stas-davydov.png" alt="urgant"/>
            <ul id="person-info">
                <li>Личность: Стас Давыдов</li>
                <li>Профессия: Видеоблогер</li>
            </ul>
        </div>
        <button id="stat">Обновить статистику</button>
            <div>
              <table id="statistic">

              </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="symatic/js/script.js"></script>
</body>
</html>