<html>
<head>
    <link rel="stylesheet" href="../public/css/main.css"/>
    <script src="../public/js/jquery.js"></script>
    <script src="../public/js/underscore.js"></script>
    <script src="../public/js/backbone.js"></script>
</head>
<body>
<div class="wrap">
    <div class="nav">
        <ul>
        </ul>
    </div>

    <div class="block">
        <div>
            <div class="red-beard"></div>
            <form action="login" method="post" class="login-form">
                <table>
                    <tr class="login">
                        <td>Login</td>
                        <td><input class="field" name="login" type=""/></td>
                    </tr>
                    <tr class="password">
                        <td>Password</td>
                        <td><input class="field" name="password" type="password"/></td>
                    </tr>
                    <tr>
                        <td class="add-registration-form">
                            <input type="button" class="add-registration-button small-button" value="регистрация">
                        </td>
                        <td class="login-button-container">
                            <input type="submit" class="login-button small-button" value="войти">
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>

</div>
</body>
<script src="/socket.io/socket.io.js"> </script>
<script type="text/javascript">
    $('.add-registration-button').on('click', function () {
        console.log('clicked');
        var form = $('form[action="login"]');
        form.attr('action', 'registration');
        var tmpl = $('<tr><td>Nickname</td><td><input name="nickname" class="field" type=""/></td></tr>');
        tmpl.insertAfter($('.login'));
        tmpl = $('<tr><td>Password</td><td><input name="password2" class="field" type="password"/></td></tr>');
        tmpl.insertAfter($('.password'));
        $('.add-registration-button').remove();
        $('.login-button').val('регистрация').attr('disabled', true);
        form.find('.field').on('keyup', function () {
            console.log('change')
            if ( $('input[name="password"]').val() == $('input[name="password2"]').val()
              && $('input[name="login"]').val().length >= 6
              && $('input[name="nickname"]').val().length >= 6
              && $('input[name="password"]').val().length > 8 ) {
                $('.login-button').removeAttr('disabled');
            }
            else {
                $('.login-button').attr('disabled', true);
            }
        })
    });


</script>
</html>