

body {
    font-family: 'Lobster';
}

.wrap {
    margin: 0 auto;
    width: 806px;
}

.message {
    width: 100%;
    margin: 2px auto;
    height: 20px;
    text-align: center;
    font-size: 20px;
}

.message .text {
    display: none;
}

.map {
    margin: 20px auto;
    display: none;
    width: 793px;
    padding: 1px 0 0 1px;
    background: rgba(0, 0, 0, 1);
    position: relative;
}

.map .darkness {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    z-index: 2;

}

.map .piece-form {
    position: relative;
    display: inline-block;
    margin: 0 1px 1px 0;
}

.map .piece-form.illuminated {
    z-index: 4;
    cursor: pointer;
}

.map .piece-form.illuminated .piece {
    box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.78), inset 0px 0px 85px rgba(103, 255, 31, 0.46);
}

.map .piece {
    position: absolute;
    background-size: cover;
    /* border: 1px solid rgba(0,0,0,0.3); */
}

.map .coin,
.pirates-resource-coin {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/coin.png");
    position: absolute;
    bottom: 0px;
    margin: 3px;
    display: none;
}

.map .gold,
.pirates-resource-gold {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/gold.png");
    position: absolute;
    bottom: 0px;
    margin: 3px;
    right: 0;
    display: none;
}

.map .rum {
    width: 15px;
    font: bold 9px georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/rum.png");
    position: absolute;
    color: white;
    top: 0px;
    text-shadow: -1px 1px 1px black;
    margin: 3px;
    font-weight: bolder;
    right: 0;
    display: none;
}

.pirates-resource {
    margin: -5px;
    color: black;
    right: 0;
}

.pirate .text {
    text-align: center;
    font: normal 16px Lobster;
    cursor: pointer;
}

.map .piece.active {
    box-shadow: 0 0 0;
}

.small {
    width: 60px;
    height: 60px;
}

.pirate {
    text-shadow: 2px 1px 5px black;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    z-index: 15;
    font-family: Arial;
    color: white;
    margin: 5px;
    position: relative;
}

.pirates0 {
     background: red;
 }

.pirates1 {
    background: #e50dff;
}

.pirates2 {
    background: #5467ff;
}

.pirates3 {
    background: #fff41f;
}

.pirate.active {
    background: #61ff00;
}

.pirate:hover {
    box-shadow: 0px 0px 5px rgba(54, 211, 0, 0.68);
    box-sizing: border-box;
    border: 1px solid rgba(54, 211, 0, 0.68);
}

.users {
    width: 1064px;
    margin: 0 auto;
    position: relative;
    height: 462px;
}

.users .ship {
    background: url(../img/game/big-ship.png);
    width: 495px;
    height: 373px;
    position: absolute;
    left: -160px;
    top: 0px;
}

.users .black-line {
    background: url(../img/game/black-line.png);
    width: 1064px;
    height: 84px;
    left: 0px;
    bottom: 30px;
    position: absolute;
}

.users-container {
    width: 640px;
    top: 10px;
    margin: 40px 0 16px 335px;
    font: normal 15px Lobster;
    position: absolute;
}

.user {
    width: 150px;
    height: 290px;
    margin: 20px 5px 5px 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.user-picture {
    width: 104px;
    height: 251px;
    background: url(../img/users-pirates/users-pirates.png);
    margin: 0 auto;
}

.ready .user-picture {
    background-position-x: -104;
}

.leader .user-picture:before {
    content: '';
    background: url(../img/users-pirates/leader-icon.png);
    position: absolute;
    width: 31px;
    height: 23px;
    margin: 6px 0 0 -26px;
}



.user-name {
    font-size: 22px;
    text-align: center;
}

.user-name.active {
    color: #1FFF00;
}

.users .ready-button {
    width: 130px;
    margin: 30px auto 0 auto;
    text-align: center;
    font-size: 20px;
    height: 25px;
    cursor: pointer;
    line-height: 25px;
    color: #1FFF00;
}

.minimize {
    height: 85px;
}

.minimize .users-container {
    z-index: 2;
    margin: -6px 0 16px 220px;
}

.minimize .user {
    height: 30px;
}

.minimize .user .user-picture {
    display: none;
}

.minimize .black-line {
    bottom: 5px;
}

.start-game {
    display: none;
    width: 300px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 20px auto;
    top: 10px;
    position: relative;
}

.start-game.active {
    cursor: pointer;
    display: block;
}

.start-game:hover,
.users .ready-button:hover {
    text-decoration: underline ;
}

.tools {
    position: relative;
    padding: 0 0 0 20px;
    margin: 4px;
    display: none;
}

.tools > li {
    list-style: none;
    margin: 2px 25px 2px 2px;
    font: bold 11px arial;
    float: left;
    position: relative;
}

.tools .button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.tools .coin-button:before {
    background: url("/public/img/pieces/resources/coin.png");
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    left: -18px;
    content: '';
}

.tools .gold-button:before {
    background: url("/public/img/pieces/resources/gold.png");
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    left: -18px;
    content: '';
}

.tools .rum-button:before {
    background: url("/public/img/pieces/resources/rum.png");
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    left: -18px;
    content: '';
}

.results {
    display: none;
    position: relative;
    margin: 90px 0 0 0;
}

.results-container {
    width: 400px;
    margin: 0 auto;
    padding: 15px 40px;
    border: 1px solid black;
}

.results-container:before {
    content: '';
    width: 261px;
    height: 277px;
    background: url(../img/main/red-beard.png);
    display: block;
    left: -28px;
    top: -110px;
    position: absolute;
}

.results-table {
    margin: 10px 45px;
    width: 300px;
}

.results-table span.coin-count:after {
    content: '';
    margin-left: 4px;
    margin-top: 3px;
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    position: absolute;
    background: url("/public/img/pieces/resources/coin.png");
}

.results .exit {
    display: block;
    width: 100px;
    margin-left: 272px;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0,0,0, 0.1);
    color: rgba(46, 145, 252, 0.6);
}

.results .exit:hover {
    color: rgba(46, 145, 252, 1);
    border: 1px solid rgba(0,0,0, 0.2);
}