

body {
    padding: 0;
    margin: 0;
}

.wrap {
    width: 961px;
    height: 751px;
    background: url(../img/main/login-background.jpg);
    margin: 50px auto;
    position: relative;
}

.content {
    margin-top: 70px;
    width: 300px;
    float: right;
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    padding: 50px 175px 50px 35px;
}

.content:after {
    content: '';
    width: 261px;
    height: 277px;
    background: url(../img/main/red-beard-fliped.png);
    display: block;
    right: -130px;
    top: -30px;
    position: absolute;
}

.content .start-text {
    font: 900 14px Arial;
    color: rgb(7, 7, 7);
    text-shadow: 1px 1px 9px rgba(114, 108, 108, 0.7);
}

.error {
    font: 900 14px Arial;
    color: rgba(9, 9, 9, 0.95);
    text-shadow: 1px 1px 9px rgba(255, 0, 0, 1);
    display: none;
    margin-top: 10px;
}
.reg-in,
.log-in {
    display: none;
}

.login-form {
    font: 900 14px Arial;
    color: rgb(7, 7, 7);
    text-shadow: 1px 1px 9px rgba(114, 108, 108, 0.7);
}

input {
    margin: 0 0 0 25px;
    width: 197px;
}

td {
    padding: 4px 0;
}


.buttons {
    width: 300px;
    height: 30px;
    margin-top: 20px;
    font: 600 16px Lobster;
    text-shadow: 1px 1px 9px rgba(114, 108, 108, 0.7);
    color: rgba(3, 140, 248, 0.78);
}

.button:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 9px rgba(100, 165, 245, 0.82);
    cursor: pointer;
}

#login {
    float: left;
}

#registration {
    float: right;
}