


body {
    padding: 0;
    margin: 0;
    font-family: Lobster;
}

.wrap {
    width: 1081px
    position: relative;
    margin: 0 auto;
}

.wrapper {
    width: 960px;
    position: relative;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.header {
    width: 960px;
    height: 209px;
    background: url(../img/main/head.jpg);
    position: relative;
}

.nav {
    width: 1081px;
    height: 89px;
    background: url(../img/main/nav-line.png);
    position: absolute;
    top: 190px;
    left: -55px;
}

.nav-list {
    margin: 32px 140px;
}

.nav a.navigation {
    font: normal 20px Lobster;
}

.nav a {
    color: #4097eb;
    margin: 0 10px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
    color: #42a9ff;
}

.nav a:visited {
    color: #4097eb;
}

.nav-list .user-block {
    float: right;
}

.user-name {
    font: bold 18px Lobster;
}

#logout {
    font: normal 14px Georgia;
}

.content {
    width: 100%;
    position: relative;
    margin: 70px 0 0 0;
}

/****************


 ROOMS BLOCK


 ***********/

.rooms {
    width: 825px;
    margin: 0 auto;
}

.room {
    width: 160px;
    height: 205px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    display: inline-block;
    color: #535353;
    text-decoration: none;
    vertical-align: top;
}

.room:hover {
    border: 1px solid rgba(128, 128, 128, 0.63);
    cursor: pointer;
}

.room .room-picture {
    margin: 11px 11px 3px 11px;
    border: none;
}

.room .room-id {
    display: block;
    text-align: center;
}

.room .bay {
    width: 112px;
    margin: 4px auto;
}

.room .pirates-ships-in {
    background-image:  url(../img/main/island-ship.png);
    width: 24px;
    height: 37px;
    margin: 2px 0;
    display: inline-block;
}

/****************


 HOME BLOCK


 ***********/

div.home-video {
    width: 853px;
    margin: 10px auto;
}

div.home-video iframe {
    margin: 0 0 20px 0;
}

div.home-text {
    font: normal 16px Arial;
}