.piece-0 {
    background: url("/public/img/pieces/map/0.jpg");
}

.piece-1 {
     background: url("/public/img/pieces/map/1.jpg");
 }

.piece-2 {
    background: url("/public/img/pieces/map/2.jpg");
}

.piece-3 {
    background: url("/public/img/pieces/map/3.jpg");
}

.piece-4 {
    background: url("/public/img/pieces/map/4.jpg");
}

.piece-5 {
    background: url("/public/img/pieces/map/chest.jpg");
}

.piece-6 {
    background: url("/public/img/pieces/map/6.jpg");
}

.piece-7 {
    background: url("/public/img/pieces/map/7.jpg");
}

.piece-8 {
    background: url("/public/img/pieces/map/8.jpg");
}

.piece-9 {
    background: url("/public/img/pieces/map/9.jpg");
}

.piece-10 {
    background: url("/public/img/pieces/map/10.jpg");
}

.piece-11 {
    background: url("/public/img/pieces/map/11.jpg");
}

.piece-12 {
    background: url("/public/img/pieces/map/chest.jpg");
}

.piece-13 {
    background: url("/public/img/pieces/map/chest.jpg");
}

.piece-14 {
    background: url("/public/img/pieces/map/chest.jpg");
}

.piece-15 {
    background: url("/public/img/pieces/map/15.jpg");
}

.piece-16 {
    background: url("/public/img/pieces/map/16.jpg");
}

.piece-17 {
    background: url("/public/img/pieces/map/17.jpg");
}

.piece-18 {
    background: url("/public/img/pieces/map/18.jpg");
}

.piece-19 {
    background: url("/public/img/pieces/map/19.jpg");
}

.piece-20 {
    background: url("/public/img/pieces/map/20.jpg");
}

.piece-21 {
    background: url("/public/img/pieces/map/21.jpg");
}

.piece-22 {
    background: url("/public/img/pieces/map/22.jpg");
}

.piece-23 {
    background: url("/public/img/pieces/map/23.jpg");
}

.piece-24 {
    background: url("/public/img/pieces/map/24.jpg");
}

.piece-25 {
    background: url("/public/img/pieces/map/25.jpg");
}

.piece-26 {
    background: url("/public/img/pieces/map/26.jpg");
}

.piece-27 {
    background: url("/public/img/pieces/map/27.jpg");
}

.piece-28 {
    background: url("/public/img/pieces/map/28.jpg");
}

.piece-29 {
    background: url("/public/img/pieces/map/29.jpg");
}

.piece-30 {
    background: url("/public/img/pieces/map/30.jpg");
}

.piece-31 {
    background: url("/public/img/pieces/map/31.jpg");
}

.piece-32 {
    background: url("/public/img/pieces/map/32.jpg");
}

.piece-33 {
    background: url("/public/img/pieces/map/33.jpg");
}

.piece-34 {
    background: url("/public/img/pieces/map/34.jpg");
}

.piece-35 {
    background: url("/public/img/pieces/map/35.jpg");
}

.piece-36 {
    background: url("/public/img/pieces/map/36.jpg");
}

.piece-37 {
    background: url("/public/img/pieces/map/37.jpg");
}

.piece-38 {
    background: url("/public/img/pieces/map/chest.jpg");
}

.piece-39 {
    background: url("/public/img/pieces/map/39.jpg");
}

.piece-40 {
    background: url("/public/img/pieces/map/40.jpg");
}

.piece-41 {
    background: url("/public/img/pieces/map/41.jpg");
}

.piece-42 {
    background: url("/public/img/pieces/map/42.jpg");
}

.piece-43 {
    background: url("/public/img/pieces/map/43.jpg");
}

.piece-44 {
    background: url("/public/img/pieces/map/44.jpg");
}

.piece-45 {
    background: url("/public/img/pieces/map/45.jpg");
}

.piece-ship0 {
    background: url("/public/img/pieces/ships/ship0.jpg");
}

.map .piece-ship0 .coin {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/coin.png");
    position: absolute;
    bottom: 0px;
    margin: 3px;
    display: none;
    right: 43px;
    top: -21px;
}

.map .piece-ship0 .gold {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/gold.png");
    position: absolute;
    top: -21px;
    margin: 3px;
    right: 17px;
    display: none;
}


.map .piece-ship0 .rum {
    width: 15px;
    font: bold 9px georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/rum.png");
    position: absolute;
    color: white;
    top: -21px;
    text-shadow: -1px 1px 1px black;
    margin: 3px;
    font-weight: bolder;
    right: -5px;
    display: none;
}


.piece-ship1 {
    background: url("/public/img/pieces/ships/ship1.jpg");
}


.map .piece-ship1 .rum {
    width: 15px;
    font: bold 9px georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/rum.png");
    position: absolute;
    color: white;
    top: 40px;
    text-shadow: -1px 1px 1px black;
    margin: 3px;
    font-weight: bolder;
    right: -20px;
    display: none;
}

.map .piece-ship1 .gold {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/gold.png");
    position: absolute;
    bottom: 19px;
    margin: 3px;
    right: -20px;
    display: none;
}


.map .piece-ship1 .coin {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/coin.png");
    position: absolute;
    bottom: 41px;
    margin: 3px;
    right: -20px;
    display: none;
}



.piece-ship2 {
    background: url("/public/img/pieces/ships/ship2.jpg");
}

.map .piece-ship2 .coin {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/coin.png");
    position: absolute;
    margin: 3px;
    display: none;
    right: 43px;
    bottom: -21px;
}

.map .piece-ship2 .gold {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/gold.png");
    position: absolute;
    bottom: -21px;
    margin: 3px;
    right: 17px;
    display: none;
}


.map .piece-ship2 .rum {
    width: 15px;
    font: bold 9px georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/rum.png");
    position: absolute;
    color: white;
    text-shadow: -1px 1px 1px black;
    margin: 3px;
    font-weight: bolder;
    right: -5px;
    top: 59px;
    display: none;
}


.piece-ship3 {
    background: url("/public/img/pieces/ships/ship3.jpg");
}

.map .piece-ship3 .coin {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/coin.png");
    position: absolute;
    bottom: 41px;
    margin: 3px;
    right: 60px;
    display: none;
}

.map .piece-ship3 .gold {
    width: 15px;
    font: bold 9px Georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/gold.png");
    position: absolute;
    bottom: 19px;
    margin: 3px;
    right: 60px;
    display: none;
}

.map .piece-ship3 .rum {
    width: 15px;
    font: bold 9px georgia;
    text-align: center;
    line-height: 15px;
    height: 15px;
    background: url("/public/img/pieces/resources/rum.png");
    position: absolute;
    color: white;
    top: 40px;
    text-shadow: -1px 1px 1px black;
    margin: 3px;
    font-weight: bolder;
    right: 58px;
    display: none;
}





